.title-action-bar {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0rem 3rem 0rem;
}
.title-action-bar .title,
.title-action-bar .title h1 {
    color: var(--light-gray2-color) !important;
    font-weight: 300;
}

.table-lead {
    display: flex;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: transparent !important;
}

.table-striped > tbody > tr:nth-of-type(event) > * {
    background-color: rgb(247, 247, 247) !important;
}

.table > thead {
    border-color: transparent;
}

.table tr th {
    background-color: rgb(150, 150, 150) !important;
}

.table tr th:first-child,
.table tr:hover td:first-child {
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    position: relative;
}

.table tr td {
    position: relative;
}

.table tr th:last-child,
.table tr:hover td:last-child {
    border-radius: 0rem 0.2rem 0.2rem  0rem;
}

.table tr .contextmenu-block {
    display: none !important;
}

.table tr:hover .contextmenu-block {
    display: block !important;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-bg-state: rgb(240, 240, 240);
}

.empty-row {
    font-weight: 300;
    color: var(--light-gray2-color);
    text-align: center;
    border-radius: 0.4rem;
    position: relative;
    top: -1rem;
    padding: 1rem;
    background-color: #fbfbfb;
}

/* Contribution Modal styles*/
.form-group.amount-gp {
    margin: 1rem auto 2rem auto;
}

.contrib-form .form-group label {
    color: var(--light-gray1-color);
}

.form-group.amount-gp input {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 40%;
}

.date-field-group {
    width: 20rem;
    margin-bottom: 1rem;
}

.date-field-group .form-label {
    font-size: 0.8rem;
    color: var(--light-gray1-color);
}

.date-field-group input {
    border-radius: var(--border-radius);
}